<%- include('../includes/head.ejs') %>

    <div class="container">
        <div class="row my-5">
            <div class="col-12">
               <h1>Admin</h1>
               <a href="/admin/create-product" class="btn btn-info">Create product</a>
            </div>
        </div>
    </div>

    
    
    <div class="container">
        <div class="row">
            <% if( products.length > 0 ) { %>
                <% products.forEach(function(prod) { %>
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src='<%= prod.imageUrl %>'' alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title"><%= prod.title %></h5>
                        <p class="card-text"><%= prod.description %></p>
                        <p class="card-text">€ <%= prod.price %></p>
                        <form action="/admin/delete-product" method="post">
                            <input type="hidden" name="productId" value="<%= prod._id %>">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                        <a href="/admin/edit-product/<%= prod._id %>?edit=true" class="btn btn-primary">Edit</a>
                      </div>
                    </div>
                  </div>
               <% }); %> 
              <% }  else { %>
                <div class="col-12">No products</div>
              <% } %>
        </div>   
    </div>

<%- include('../includes/footer.ejs') %>
