<%- include('./includes/head.ejs') %>

<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">Vertically Centered Masthead Content</h1>
          <p class="lead">A great starter layout for a landing page</p>
        </div>
      </div>
    </div>
</header>

<div class="container">
  <div class="row text-center my-5">
    <div class="col-12">
      <h2>Latest Products</h2>
    </div>
  </div>
  <div class="row my-3">
    <% products.forEach(function(prod) { %>
      <div class="col-12 col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src='<%= prod.imageUrl %>'' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= prod.title %></h5>
            <p class="card-text"><%= prod.description %></p>
            <p class="card-text">€ <%= prod.price %></p>
            <a href="/product/<%= prod._id %>" class="btn btn-primary">Go somewhere</a>
            <a href="/add-to-cart/<%= prod.id %>" class="btn btn-info btn-outline">Add to cart</a>
          </div>
        </div>
      </div>
   <% }); %> 
  </div>
</div>
<%- include('./includes/footer.ejs') %>